<!DOCTYPE html>
<html lang="en">
  <%- include ('header') -%>
<body>
  <%- include ('navbar') -%>
  <main>

<div class="container view">

  <h2>View Employees</h2>
  <% if(employees.length) { %>
    <a href="/new"> <button id="addBtn" class="btn">Add New Employee</button></a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>

        <% var i = 1; %>
        <% employees.forEach(function(employee) {%>


      <tr>
        <th scope="row"><%=i  %> </th>
        <td><%=employee.firstName %></td>
        <td><%=employee.lastName %></td>
        <td><%=employee.email %></td>
        <td><a href="/view/<%= employee.firstName %>/<%= employee.lastName %>/<%= employee.email %>">VIEW</a></td>
      </tr>
      <%i++;  %>
      <% }); %>

    </tbody>
  </table>
  <% } else { %>
    No entries! <a href="/new"> <button id="addBtn" class="btn">Add New Employee</button></a>

  <% } %>
</div>

</main>
<%- include ('footer') -%>
</body>

</html>

